body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
}
main {
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid #ccc;
  padding: 35px;
  border-radius: 25px;
  box-shadow: 5px 5px 4px #ccc;
  width: 50%;
  /* height: 220px; */
}

button {
  padding: 15px;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: #218380;
  font-weight: bold;
}
button:hover {
  background-color: aliceblue;
  color: #000;
  border: 1px solid black;
}
